*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'interVariable';
    src: url('../assets/fonts/Inter-VariableFont_slntWght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --text1: hsl(0, 0%, 100%);
    --text11: hsl(0, 0%, 76%);
    --text2: hsl(75, 94%, 57%);
    --text22: hsl(75, 65%, 30%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--Grey900);
}

.main-tela{
    width: 425px;
    height: auto;
    text-align: center;
    border-radius: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Grey800);
}

.main-tela .ontop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-tela .ontop .img{
    width: 100px;
    height: 100px;
    background-image: url('../assets/images/avatar-jessica.jpeg');
    background-size: contain;
    border-radius: 50%;
    margin: 20px 0px;
}

.ontop h2{
    margin-bottom: 5px;
    font-family: 'interVariable';
    color: var(--text1);
}

.ontop .local{
    font-family: 'interVariable';
    font-size: 14px;
    font-weight: 700;
    color: var(--text2);
}

.ontop p{
    margin: 20px 0px;
    font-family: sans-serif;
    font-size: 14px;
    color: var(--text11);
}

.main-tela .links{
    width: 90%;
    margin-bottom: 20px;
}
.links a{
    display: block;
    border-radius: .7rem;
    width: 90%;
    margin: 10px auto;
    padding: 15px 70px;
    text-decoration: none;
    color: var(--text11);
    background-color: var(--Grey700);
    font-family: sans-serif;
    font-weight: 600;
    transition: 300ms;
}

.links a:hover{
    background: var(--text2);
    color: var(--Grey900);
}

.links a:active{
    background: var(--text22);
}

.attribution{ 
    margin: 20px 0;
    font-size: 11px;
    text-align: center;
    color: var(--text1);
    font-size: 14px;
}
.attribution a{ 
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 478px){
    .main-tela{
        width: 95%;
    }
}